.home{
    &-container{
        display: flex;
        padding: 112px 16px;
        position: relative;
        row-gap: 40px;
    }
    //*content
    &-content{
        position: relative;
        display: grid;
        justify-self: center;

    }
    //*image
    &-img{
        width: 220px;
    }

    //*title
    &-title{
        font-size: $biggest-font-size;
        color: $first-color;
        position: absolute;
        display: flex;
        column-gap: 7px;
       justify-self: center;
       top: -65px;
       
       span:nth-child(2) {
        z-index: -1;
       }
    }
    //*ttoltip
    &-tooltip {
        position: absolute;
        top: -8px;
        right: 20px;
        img{
            width: 70px;
        }
        &-text{
            position: absolute;
            background: $gradient-color;
            color: $white-color;
            border-radius: 64px;
            transform: translate(5px, -20px);
            padding: 6px 12px;
            font-weight: 600;
            font-size: $small-font-size;
        }
    }
    &-social{
        display: grid;
        place-items: center;
        row-gap: 96px;
        position: absolute;
        top: 140px;
        left: -80px;
        &-text{
            rotate: 90deg;
            position: relative;
            font-size: $small-font-size;
            font-weight: $font-semi-bold;
            &:after{
                content: "";
                background-color: $text-color;
                width: 40px;
                height: 1px;
                display: block;
                position: absolute;
                top: 0;
                right: -64px;
                margin: auto;
                bottom: 0;
            }
        }
        &-links{
            display: grid;
            row-gap: 12px;
            transition: all 0.4s;
        }
        &-link{
            color: $text-color;
            font-size: 20px;
            &:hover{
                color: $first-color;
            }
        }
    }
}