@media (max-width: 850px) {
    .nav-list li {
        display: none;
    }
}


@media (min-width: 768px) {
    .home {
        &-img {
            width: 320px;
        }

        &-title {
            font-size: 256px;
            top: -64px;
        }

        &-social {
            left: -220px;
            top: 0;
            bottom: 0;
            align-content: center;
        }
        &-social-links {
            margin-left: 2px;
        }
    }
    .favori{
        .favori-container{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

@media (min-width: 1150px) {
    //*home
    .home {
        &-img {
            width: 500px;
        }

        &-title {
            font-size: 25rem;
            top: -8px;
            column-gap: 16px;
        }

        &-tooltip {
            img {
                width: initial;
            }

            &-text {
                transform: translate(-10px, -20px);
                font-size: $normal-font-size;
            }
        }

        &-social-links {
            row-gap: 16px;
        }
        &-social-link{
            font-size: 24px;
        }
    }
    //*about
    .about{
        &-container{
            grid-template-columns: 500px 500px;
        }
        img{
            width: 500px !important;
        }
        &-data{
            text-align: initial !important;
        }
    }
    .model{
        &-img{
            width: 600px !important;
        }
        .model-tooltip-text{
            font-size: $normal-font-size !important;
        }
        .model-tooltip-1 {
            left: 13.5rem !important;
            top: 150px !important;
        }
        .model-tooltip-3 {
            left: 400px !important;
            bottom: 150px !important;
        } 
        .model-tooltip-4 {
            left: 120px !important;
            bottom: 100px !important;
        }
    }
    .sponsor-container{
        grid-template-columns: repeat(4, max-content) !important;
    }
}