@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

/* z-index */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 5px 20px;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
}
header .nav-logo {
  color: hsl(23, 100%, 50%);
  font-size: 1.25rem;
  font-weight: 600;
}
header .nav-list {
  display: flex;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
header .nav-link {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  transition: all 0.4s;
}
header .nav-link:hover {
  color: rgb(202, 60, 8);
  border-bottom: 1px solid rgb(202, 60, 8);
  padding-bottom: 5px;
}

.home-container {
  display: flex;
  padding: 112px 16px;
  position: relative;
  row-gap: 40px;
}
.home-content {
  position: relative;
  display: grid;
  justify-self: center;
}
.home-img {
  width: 220px;
}
.home-title {
  font-size: 10rem;
  color: hsl(23, 100%, 50%);
  position: absolute;
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  justify-self: center;
  top: -65px;
}
.home-title span:nth-child(2) {
  z-index: -1;
}
.home-tooltip {
  position: absolute;
  top: -8px;
  right: 20px;
}
.home-tooltip img {
  width: 70px;
}
.home-tooltip-text {
  position: absolute;
  background: linear-gradient(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%);
  color: hsl(0, 0%, 100%);
  border-radius: 64px;
  transform: translate(5px, -20px);
  padding: 6px 12px;
  font-weight: 600;
  font-size: 0.813rem;
}
.home-social {
  display: grid;
  place-items: center;
  row-gap: 96px;
  position: absolute;
  top: 140px;
  left: -80px;
}
.home-social-text {
  rotate: 90deg;
  position: relative;
  font-size: 0.813rem;
  font-weight: 600;
}
.home-social-text:after {
  content: "";
  background-color: hsl(23, 4%, 60%);
  width: 40px;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  right: -64px;
  margin: auto;
  bottom: 0;
}
.home-social-links {
  display: grid;
  row-gap: 12px;
  transition: all 0.4s;
}
.home-social-link {
  color: hsl(23, 4%, 60%);
  font-size: 20px;
}
.home-social-link:hover {
  color: hsl(23, 100%, 50%);
}

@media (max-width: 850px) {
  .nav-list li {
    display: none;
  }
}
@media (min-width: 768px) {
  .home-img {
    width: 320px;
  }
  .home-title {
    font-size: 256px;
    top: -64px;
  }
  .home-social {
    left: -220px;
    top: 0;
    bottom: 0;
    align-content: center;
  }
  .home-social-links {
    margin-left: 2px;
  }
  .favori .favori-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1150px) {
  .home-img {
    width: 500px;
  }
  .home-title {
    font-size: 25rem;
    top: -8px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .home-tooltip img {
    width: initial;
  }
  .home-tooltip-text {
    transform: translate(-10px, -20px);
    font-size: 0.938rem;
  }
  .home-social-links {
    row-gap: 16px;
  }
  .home-social-link {
    font-size: 24px;
  }
  .about-container {
    grid-template-columns: 500px 500px;
  }
  .about img {
    width: 500px !important;
  }
  .about-data {
    text-align: initial !important;
  }
  .model-img {
    width: 600px !important;
  }
  .model .model-tooltip-text {
    font-size: 0.938rem !important;
  }
  .model .model-tooltip-1 {
    left: 13.5rem !important;
    top: 150px !important;
  }
  .model .model-tooltip-3 {
    left: 400px !important;
    bottom: 150px !important;
  }
  .model .model-tooltip-4 {
    left: 120px !important;
    bottom: 100px !important;
  }
  .sponsor-container {
    grid-template-columns: repeat(4, max-content) !important;
  }
}
.about-data {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
}
.about img {
  width: 280px;
  justify-self: center;
}

.favori {
  padding: 10px 40px;
}
.favori-card {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.favori-card img {
  margin: 0 30px;
  width: 200px;
  cursor: pointer;
  transition: all 0.3s;
}
.favori-card img:hover {
  scale: 1.2;
}
.favori-card span {
  text-align: center !important;
  cursor: pointer;
}
.favori-card span:hover {
  color: hsl(23, 100%, 50%);
}

.model-container {
  padding-top: 32px;
}
.model-content {
  position: relative;
  justify-self: center;
}
.model-img {
  width: 280px;
}
.model-tooltip {
  position: absolute;
}
.model-tooltip-text {
  background: linear-gradient(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%);
  padding: 6px 12px;
  border-radius: 64px;
  color: white;
  font-size: 0.813rem;
  font-weight: 500;
  position: absolute;
  white-space: nowrap;
  transform: translate(5px, -15px);
}
.model-tooltip-1 {
  top: 88px;
  left: 80px;
}
.model-tooltip-2 {
  top: 16px;
  right: 24px;
}
.model-tooltip-3 {
  bottom: 28px;
  left: 50px;
}
.model-tooltip-4 {
  bottom: 100px;
  left: 20px;
}

.sponsor-container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
}
.sponsor img {
  width: 150px;
  transition: all 0.4s;
  cursor: pointer;
}
.sponsor img:hover {
  scale: 1.1;
}

.footer {
  padding: 32px;
  margin-left: 40px;
}
.footer-logo {
  color: hsl(23, 100%, 50%);
  font-size: 1.25rem;
  font-weight: 600;
}
.footer-data-grid {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
}
.footer-title {
  font-size: 1rem;
  margin-bottom: 32px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-link {
  color: hsl(23, 4%, 60%);
  transition: all 0.4s;
}
.footer-link:hover {
  color: hsl(23, 100%, 50%);
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-form input {
  padding: 20px 30px;
  width: 70%;
  border-radius: 64px;
  background-color: hsl(23, 4%, 10%);
  color: hsl(23, 4%, 60%);
}
.footer-form button {
  padding: 25px;
}
.footer-form button i {
  font-size: 25px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer-social div {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
}
.footer-social div a {
  color: hsl(23, 4%, 60%);
}
.footer-social div a:hover {
  color: hsl(23, 100%, 50%);
}

body {
  background-color: hsl(23, 12%, 4%);
  color: hsl(23, 4%, 60%);
  font-size: 0.938rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.container {
  max-width: 1120px;
  margin-inline: 24px;
}

.section {
  padding: 80px 16px;
}

.button-container {
  display: grid;
  place-items: center;
  margin-top: 35px;
}

.button {
  background: linear-gradient(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%);
  border: none;
  outline: none;
  color: hsl(0, 0%, 100%);
  padding: 20px 15px;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.button i {
  color: hsl(23, 100%, 50%);
  font-size: 32px;
}
.button:hover {
  box-shadow: 0 12px 32px #261208;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */